<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- custom configuration section for DLR hosting -->
		<section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=0.9.5.1, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
	
     <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="Bracket.Hosting.Samples.Embedded.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
     </sectionGroup>
 </configSections>
	<!-- DLR configuration. Set debugMode to "true" if you want to debug your dynamic language code with VS -->
	<microsoft.scripting debugMode="false">
		<options>
			<!-- 
        Library paths. Requires that you have Ruby installed at IronRuby.zip\ruby (default install location)
        Note: paths are relative to this file's directory 
      -->
			<set option="LibraryPaths" value=".;IronRuby.zip\IronRuby\lib\IronRuby\gems\1.8;IronRuby.zip\IronRuby\lib\IronRuby;IronRuby.zip\ironruby\lib\ruby\site_ruby\1.8;IronRuby.zip\IronRuby\lib\ruby\1.8"/>
		</options>
	</microsoft.scripting>
	<appSettings>
		<!-- Settings for IronRuby.Rack -->
		<add key="ApplicationRootPath" value=""/>
		<!-- Where is "config.ru" located -->
		<!-- Included in LibraryPaths instead 
		<add key="GemPath" value="IronRuby.zip\IronRuby\lib\IronRuby\gems\1.8"/>
		-->
		<!-- Path to find RubyGems packages -->
		<!-- Other settings -->
	</appSettings>
<userSettings>
        <Bracket.Hosting.Samples.Embedded.Properties.Settings>
            <setting name="AzureServiceBusSolutionName" serializeAs="String">
                <value>MySolution</value>
            </setting>
            <setting name="AzureServiceBusSolutionPassword" serializeAs="String">
                <value>MyPassword</value>
            </setting>
            <setting name="AzureServiceBusUrlNamespace" serializeAs="String">
                <value>Bracket</value>
            </setting>
            <setting name="AzureServiceBusUseSSL" serializeAs="String">
                <value>False</value>
            </setting>
        </Bracket.Hosting.Samples.Embedded.Properties.Settings>
    </userSettings>
</configuration>
