<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- custom configuration section for DLR hosting -->
		<section name='microsoft.scripting' requirePermission='false' type='Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=0.9.6.20, Culture=neutral, PublicKeyToken=31bf3856ad364e35'/>
	
     <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
         <section name="Bracket.Hosting.Samples.Embedded.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
     </sectionGroup>
 </configSections>
	<!-- DLR configuration. Set debugMode to "true" if you want to debug your dynamic language code with VS -->
	<microsoft.scripting debugMode="false">
		<options>
			<!-- 
        Library paths. Requires that you have Ruby installed at IronRuby.zip\ruby (default install location)
        Note: paths are relative to this file's directory 
      -->
			<set option="LibraryPaths" value=".;IronRuby.zip\IronRuby\Lib\ironruby\gems\1.8;IronRuby.zip\IronRuby\Lib\ironruby;IronRuby.zip\IronRuby\Lib\ruby\site_ruby\1.8;IronRuby.zip\IronRuby\Lib\ruby\1.8"/>
		</options>
	</microsoft.scripting>
	<appSettings>
		<!-- Settings for IronRuby.Rack -->
		<add key="ApplicationRootPath" value=""/>
		<!-- Where is "config.ru" located -->
		<!--
		<add key="GemPath" value="IronRuby.zip\IronRuby\Lib\IronRuby\gems\1.8"/>
		-->
		<!-- Path to find RubyGems packages -->
		<!-- Other settings -->
	</appSettings>
<userSettings>
        <Bracket.Hosting.Samples.Embedded.Properties.Settings>
                <setting name="AzureServiceBusServiceNamespace" serializeAs="String">
                        <value>My Service</value>
                </setting>
                <setting name="AzureServiceBusIssuerSecret" serializeAs="String">
                        <value>My Secret</value>
                </setting>
                <setting name="AzureServiceBusServicePath" serializeAs="String">
                        <value>Bracket</value>
                </setting>
                <setting name="AzureServiceBusUseSSL" serializeAs="String">
                        <value>False</value>
                </setting>
                <setting name="AzureServiceBusIssuerName" serializeAs="String">
                        <value>owner</value>
                </setting>
        </Bracket.Hosting.Samples.Embedded.Properties.Settings>
    </userSettings>
</configuration>
