<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- custom configuration section for DLR hosting -->
		<section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=0.9.5.1, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
	</configSections>
	<!-- DLR configuration. Set debugMode to "true" if you want to debug your dynamic language code with VS -->
	<microsoft.scripting debugMode="false">
		<options>
			<!-- 
        Library paths. Requires that you have Ruby installed at IronRuby.zip\ruby (default install location)
        Note: paths are relative to this file's directory 
      -->
			<set option="LibraryPaths" value=".;IronRuby.zip\IronRuby\lib\IronRuby\gems\1.8;IronRuby.zip\IronRuby\lib\IronRuby;IronRuby.zip\ironruby\lib\ruby\site_ruby\1.8;IronRuby.zip\IronRuby\lib\ruby\1.8"/>
		</options>
	</microsoft.scripting>
	<appSettings>
		<!-- Settings for IronRuby.Rack -->
		<add key="ApplicationRootPath" value=""/>
		<!-- Where is "config.ru" located -->
		<!-- Included in LibraryPaths instead 
		<add key="GemPath" value="IronRuby.zip\IronRuby\lib\IronRuby\gems\1.8"/>
		-->
		<!-- Path to find RubyGems packages -->
		<!-- Other settings -->
	</appSettings>
</configuration>
