<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- custom configuration section for DLR hosting -->
		<section name='microsoft.scripting' requirePermission='false' type='Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35'/>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="Bracket.Samples.AppAutomation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<!-- DLR configuration. Set debugMode to "true" if you want to debug your dynamic language code with VS -->
	<microsoft.scripting debugMode="false">
		<options>
			<!-- 
        Library paths. Requires that you have Ruby installed at IronRuby.zip\ruby (default install location)
        Note: paths are relative to this file's directory 
      -->
			<set option="LibraryPaths" value=".;IronRuby.zip\IronRuby\Lib\ironruby\gems\1.8;IronRuby.zip\IronRuby\Lib\ironruby;IronRuby.zip\IronRuby\Lib\ruby\site_ruby\1.8;IronRuby.zip\IronRuby\Lib\ruby\1.8"/>
		</options>
	</microsoft.scripting>	
 <userSettings>
  <Bracket.Samples.AppAutomation.Properties.Settings>
   <setting name="btnDoSomething_Click_Handler" serializeAs="String">
    <value>context.Alert("Hello from Ruby! You Clicked 'Do Something'")</value>
   </setting>
   <setting name="btnDoSomethingElse_Click_Handler" serializeAs="String">
    <value>"Hello from Ruby! You Clicked 'Do Something Else!'"</value>
   </setting>
   <setting name="txtTypeHere_Validated_Handler" serializeAs="String">
    <value>"You typed #{context.sender.text}"</value>
   </setting>
   <setting name="txtTypeHere_Validating_Handler" serializeAs="String">
    <value />
   </setting>
  </Bracket.Samples.AppAutomation.Properties.Settings>
 </userSettings>
</configuration>
