<?xml version="1.0"?>
<configuration>
	<configSections>
		<!-- custom configuration section for DLR hosting -->
		<section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting, Version=0.9.5.1, Culture=neutral, PublicKeyToken=null" requirePermission="false"/>
	</configSections>
	<system.webServer>
		<handlers>
			<!-- clear all other handlers first. Don't do this if you have other handlers you want to run -->
			<clear/>
			<!-- This hooks up the HttpHandler which will dispatch all requests to Rack -->
			<add name="IronRuby" path="*" verb="*" type="Bracket.Hosting.Iis.IISHttpHandlerFactory, Bracket" resourceType="Unspecified" requireAccess="Read" preCondition="integratedMode"/>
		</handlers>
	</system.webServer>
	<system.web>
		<!-- make this true if you want to compile any of the DLR code, IronRuby.Rack, or your own managed code -->
		<compilation debug="true"/>
	</system.web>
	<!-- DLR configuration. Set debugMode to "true" if you want to debug your dynamic language code with VS -->
	<microsoft.scripting debugMode="false">
		<options>
			<!-- 
        Library paths. Requires that you have Ruby installed at C:\ruby (default install location)
        Note: paths are relative to this file's directory 
      -->
			<set option="LibraryPaths" value=".;C:\IronRuby\lib\IronRuby;c:\ironruby\lib\ruby\site_ruby\1.8;C:\IronRuby\lib\ruby\1.8"/>
		</options>
	</microsoft.scripting>
	<appSettings>
		<!-- Settings for IronRuby.Rack -->
		<add key="ApplicationRootPath" value="RackApplication"/>
		<!-- <add key="ApplicationRootPath" value="Sinatra"/> -->
		<!--<add key="ApplicationRootPath" value="Rails"/>-->
		<!-- Where is "config.ru" located. -->
		<add key="GemPath" value="C:\IronRuby\lib\IronRuby\gems\1.8"/>
		<!-- Path to find RubyGems packages -->
		<!-- Other settings -->
	</appSettings>
</configuration>
